/*------------------------------------------------------------------
    Layout: Wrapper
-------------------------------------------------------------------*/

.wrapper {
    position: relative;
    width: 85%;
    max-width: 760px;
    margin: 0 auto;
}
