/*------------------------------------------------------------------
    Helper: Keyframes
-------------------------------------------------------------------*/

@keyframes bounce {
    0% {
        transform: translate(0, -20px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(0, 20px);
        opacity: 0;
    }
}

@keyframes autofill {
    to {
        color: #535763;
        background: #fff;
    }
}
