/*------------------------------------------------------------------
    Component: Post Header
-------------------------------------------------------------------*/

.postheader {
    & > *:last-child {
        margin-bottom: 0;
    }

    @media (max-width: 960px) {
        margin-bottom: 100px;
    }

    @media (max-width: 720px) {
        margin-bottom: 70px;
    }

    @media (max-width: 480px) {
        margin-bottom: 50px;
    }
}

.postheader-category {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 28px;
    color: #b2b5bb;

    a {
        text-decoration: none;

        &:hover {
            color: #8a8e96;
        }
    }

    @media (max-width: 880px) {
        font-size: 22px;
        margin: 0 0 24px;
    }

    @media (max-width: 480px) {
        font-size: 20px;
        margin: 0 0 16px;
    }
}

.postheader-title {
    font-size: 68px;
    line-height: 90px;
    margin: 0 0 34px;
    color: #171818;

    @media (max-width: 880px) {
        font-size: 54px;
        line-height: 70px;
        margin: 0 0 34px;
    }

    @media (max-width: 720px) {
        font-size: 44px;
        line-height: 60px;
        margin: 0 0 34px;
    }

    @media (max-width: 480px) {
        font-size: 32px;
        line-height: 42px;
        margin: 0 0 22px;
    }
}

@media (max-width: 480px) {
    .postmeta .postmeta-author {
        display: none;
    }
}
