/*------------------------------------------------------------------
    Post Contents: Syntax
-------------------------------------------------------------------*/

.postcontents {
    pre {
        max-width: 120%;
        margin: 58px 0;
        margin-right: -10%;
        margin-left: -10%;
        padding: 57px 80px;
        border-radius: 2px;
        background: #0f0f10;

        @media (max-width: 1040px) {
            width: 100vw;
            max-width: 100vw;
            margin-left: calc((100vw - 100%) / -2);
            border-radius: 0;
        }

        @media (max-width: 720px) {
            margin-top: 48px;
            margin-bottom: 48px;
            padding: 48px 7.5%;
        }

        @media (max-width: 480px) {
            margin-top: 38px;
            margin-bottom: 38px;
            padding: 38px 7.5%;
        }
    }

    pre code {
        font-family: $font_code;
        font-size: 15px;
        font-weight: 600;
        line-height: 32px;
        overflow-x: auto;
        color: #f1f4f6;
        background: transparent;

        @media (max-width: 720px) {
            font-size: 14px;
            line-height: 30px;
        }

        @media (max-width: 480px) {
            font-size: 13px;
            line-height: 28px;
        }
    }
}
