{{ define "main" -}}

<main class="page">

  {{ partial "post/readingtime.html" . }}

  <!-- if feature_image then add class "post-featured" -->
  <article class="post">

    <!-- if feature_image (partial "postcover.html" .) -->

    {{ partial "post/flow.html" . }}

    <div class="wrapper">

      <!-- if not feature_image (partial "postheader.html" .) -->

      {{ partial "post/header.html" . }}

      {{ partial "post/main.html" . }}

    </div>

  </article>

  <div class="wrapper">

    {{ partial "post/footer.html" . }}

    <!-- with (primary_author) (partial "authorprofile.html" .) -->

    {{ partial "post/nav.html" . }}

  </div>

</main>

{{- end }}